
body {
    font-family: 'Montserrat', sans-serif;
    color: black;
    background-color: white;
    margin: 0;
}

.fa-shopping-cart {
    vertical-align: middle;
    font-size: 1.3rem;
    color: rgba(0,0,0,0.2);
}

.fa-shopping-cart:hover {
     font-size: 1.5rem;
    color: rgba(0,0,0,1);
    cursor: pointer;
}

h1 {
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
}

h2 {
    font-family: 'Montserrat',sans-serif;
    font-weight: 400i;
}

h3 {
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
}

h4 {
    font-family: 'Montserrat',sans-serif;
    font-weight: 300;
}

p {
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
}

.color-selector {
    font-size: 6rem;
    line-height: 10px;
    display: inline;
    margin:  0 10px;
    padding: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    
}

#color-red {
    color: #ba3534;
    text-shadow: 0px 0px 10px #ba3534;
}

#color-blue {
    color: #143063;
    text-shadow: 0px 0px 10px #143063;
}

#color-grey {
    color: #6e6a6b;
    text-shadow: 0px 0px 10px #636363;
}

#color-brown {
    color: #3c321c;
}

#color-white {
    color: white;
    text-shadow: 0px 0px 10px #c0c0c2;
}

.color-selector:hover {
    transform: scale(2); 
    cursor: pointer;
}

.btnAddtocart:hover {
    background-color: white;
    color:black;
    border: 1px solid black;
    border-radius: 15px;
    cursor: pointer;
}

.thumbnail {
    width: 100%;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-out;
}

.thumbnail img {
    max-width: 100%;
    cursor: pointer;
}

.btn_signup:hover {
    background-color: white;
    color:black;
    border: 1px solid black;
    border-radius: 15px;
    cursor: pointer;
}

.signup_container {
    text-align: center;
}

.thumbnail:hover {
  transform: scale(0.9);
}

.thumbnail img:hover {
    opacity: 0.5;
}

footer {
    color: white;
    background-color: black;
    padding: 10px 50px;
    margin: 100px 0 0 0;
}

#Body_container {
     padding: 0 50px 0 50px;
}

#footer_markup p a {
    color: white;
    opacity: 0.7;
    padding: 0;
    margin: 0 10px;
}

#footer_markup p {
    opacity: 0.7;
}

@media (min-width:860px) {
    
#navBar-container {
    width: 100%;
    margin:  0;
    padding: 0;
    top: 0;
    display: fixed;
    background-color: white;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

.logoContainer {
    width: 20%;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.navBar {
    width: 59%;
    display: inline-block;
    padding: 0;
    margin: 0;
    text-align: center;
}

.searchBox {
    width: 20%;
    display: inline-block;
    text-align: center;
    padding: 0;
    margin: 0;
}

.navLink {
    display: inline-block;
    padding: 0;
    margin: 0 1.2rem;
    line-height: 100px;
    letter-spacing: 5px;
}

.logoDesktop {
    width: 50px;
}

.fa-search {
    font-size: 1.3rem;
}

ul {
    padding: 0;
    margin: 0;
}

.linkStyle {
    text-decoration: none;
    color: rgba(0,0,0,0.3);
}

.navLink:hover {
    border-bottom: 5px solid black;
    color: black;
    font-weight: 700;
    -webkit-transition: border 0.2s ease-in-out;
    
}

.linkStyle:hover {
    color: black;
    font-weight: 700;
}


#cartContainer {
    width: 100%;
    background-color: rgba(0,0,0,0);
    height: 30px;
    text-align: right;
    padding: 20px 20px 0 0;
    display: fixed;
}
.mainContent_Container {
    width: 100%;
    height: 80vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    
}

#backgroundText {
    position: absolute;
    top: 35%;
    left: 20%;
    font-size: 5rem;
    color: rgba(0,0,0,0.05);
    z-index: -1;
}
.imageContainer {
    max-height: 100%;
    padding: 20px;

}

.mainProductimage {
    max-width: 100%;
    margin: auto;

}

.productInfo_Container {
    max-width: 100%;
    margin: auto;
}


.extraInfo_grid {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto;
}



.btnAddtocart {
    background-color: black;
    height: 40px;
    width: 100%;
    border: none;
    box-shadow: none;
    color: white;
    font-family: 'Montserrat',sans-serif;
    border-radius: 5px;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}

.sizeSelector {
    height: 40px;
    width: 100%;
    font-family: 'Montserrat',sans-serif;
}

#thumnnailContainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 10px;
    justify-content: center;
    justify-items: center;
    max-width: 100%;
}
    
.section_three_container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 50px;
    margin: 30px 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}



.input_one {
    width: 50%;
    height: 37px;
    border: 1px solid black;
    box-shadow: none;
    padding: 3px;
    margin: 5% 0;
}

.btn_signup {
     background-color: black;
    height: 40px;
    width: 50%;
    border: none;
    box-shadow: none;
    color: white;
    font-family: 'Montserrat',sans-serif;
    border-radius: 5px;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
}



.btn_pnl {
    display: block;
    border: none;
    background: transparent;
    box-shadow: none;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 0;
    margin: 20px auto;
    width: 70%;
}

.btn_pnl div h4 {
    font-family: 'Montserrat',sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
}

.btn_pnl_2 div h4 {
    font-family: 'Montserrat',sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
}

.btn_pnl div {
    padding: 0;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    
}



.btn_pnl_2 {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: space-between;
    border: none;
    background: transparent;
    box-shadow: none;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 0;
    margin: 20px auto;
    width: 70%;
    cursor: pointer;
}

.footer_menu_container {
    display: grid;
    grid-template-columns: 20% 20% 20% 40%;
    justify-content: space-between;
}



#social_links {
    text-align: right;
    margin: 22px 0;
}

.social_links {
    margin: 0 20px;
    font-size: 1.3rem;
}

#footer_markup {
    font-size: 0.7rem;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
}











}






















